@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&display=swap');

:root {
    --gray: #EDEDED;
    --red-light: #8E0000;
    --red-dark: #4D0000;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Antonio';
}

.polygons {
    position: relative;
}

.elipse img {
    position: absolute;
    top: 0.5rem;
    left: 4rem;
}

nav {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
}

ul {
    gap: 1.5rem;
    list-style-type: none;
    display: flex;
    align-items: center;
    font-weight: 900;
}

ul a {
    text-decoration: none;
    color: #4D0000;
}

ul li {
    position: relative;
    cursor: pointer;
}

ul img {
    position: absolute;
    top: -1rem;
    left: 28rem;
}

nav ul a:nth-of-type(1) li::after {
    content: "";
    position: absolute;
    background-color: #4D0000;
    width: 55px;
    height: 4px;
    border-radius: 5px;
    left: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
    transform: translateY(-3px);
    opacity: 0;
}

nav ul a:nth-of-type(2) li::after {
    content: "";
    position: absolute;
    background-color: #4D0000;
    width: 35px;
    height: 4px;
    border-radius: 5px;
    left: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
    transform: translateY(-3px);
    opacity: 0;
}

nav ul a:nth-of-type(3) li::after {
    content: "";
    position: absolute;
    background-color: #4D0000;
    width: 50px;
    height: 4px;
    border-radius: 5px;
    left: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
    transform: translateY(-3px);
    opacity: 0;
}

nav ul a:nth-of-type(1) li:hover::after,
nav ul a:nth-of-type(2) li:hover::after,
nav ul a:nth-of-type(3) li:hover::after {
    opacity: 1;
    transform: translateY(1);
}

.polygons {
    position: relative;
}

main {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.mainContainer,
.skillsContainer {
    height: 90vh;
}

.big_circle {
    position: absolute;
    left: 15rem;
    top: 12rem;
    border-radius: 100%;
    background-color: var(--gray);
    height: 20rem;
    width: 20rem;
    box-shadow: rgba(0, 0, 0, 0.267) 0px 4px 4px 0px;
}

.sm_circle1 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 20.5rem;
    top: 8rem;
    border-radius: 100%;
    background-color: var(--gray);
    height: 4rem;
    width: 4rem;
}

.sm_circle1 img,
.sm_circle2 img {
    width: 35px;

}


.sm_circle1:hover,
.sm_circle2:hover {
    background-color: #e5e5e5;
}

.sm_circle2 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    position: absolute;
    left: 25.5rem;
    top: 8rem;
    border-radius: 100%;
    background-color: var(--gray);
    height: 4rem;
    width: 4rem;
}

.elipse2 img {
    position: absolute;
    top: 31rem;
    left: 12rem;
}

.elipse3 img {
    position: absolute;
    top: 34rem;
    left: 14rem;
    transform: rotate(180deg);
}

.elipse4 {
    position: absolute;
    top: 10rem;
    left: 55rem;
    z-index: -999;
}

.dots {
    position: absolute;
    left: 18.5rem;
    top: 13.5rem;
}

.vector {
    position: absolute;
    top: 16rem;
    left: 28rem;
    transform: rotate(-30deg);
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.left,
.right {
    height: 90vh;
}

.left img {
    position: absolute;
    top: 27rem;
    left: 29rem;
    z-index: 9999;
    transform: rotate(-5deg);
}

.right .h1_container {
    margin-top: 11rem;
    margin-left: 14rem;
    color: var(--red-light);
    width: 20rem;
    height: 2rem;
}

.right .p_container {
    font-weight: 500;
    letter-spacing: 1px;
    margin-top: 1rem;
    margin-left: -2rem;
    color: var(--red-light);
    width: 29rem;
    height: 5rem;
}

.p_container p {
    font-size: 20px;
    text-align: right;
}

p span {
    color: #4D0000;
    font-weight: 800;
}

.p_lets {
    color: var(--red-light);
    font-size: 25px;
    font-weight: 800;
    margin-left: -5rem;
    margin-top: 8rem;
    position: relative;

}

.p_lets::after {
    content: "";
    top: -0.7rem;
    left: -1rem;
    position: absolute;
    width: 27rem;
    height: 4rem;
    border-radius: 100%;
    background-color: var(--gray);
    z-index: -999;
}

::-webkit-scrollbar {
    width: 7px;
}

/* Fundo da barra de rolagem */
::-webkit-scrollbar-track {
    background: var(--gray);
}

/* Thumb (a parte que você arrasta) */
::-webkit-scrollbar-thumb {
    background: var(--red-dark);
}

/* Quando o mouse está sobre o thumb */
::-webkit-scrollbar-thumb:hover {
    background: var(--red-light);
}
.projects{
    position: absolute;
    top: 20rem;
    left: 8rem;
}
.projects h1{
    font-size: 25px;
    color: var(--red-dark);
}
.projects h1::after{
   content: "";
   height: 3px;
   border-radius: 2px;
   width: 5.5rem;
   position: absolute;
   top: 2rem;
   left: -0.5rem;
   background-color: var(--gray);
}
.projects p{
    margin: 1rem;

}
.projects p:nth-of-type(1){
    margin-left: -1rem;
}
.projects p:nth-of-type(2){
    font-size: 20px;
}
.projects p:nth-of-type(3){
    margin-left: 2rem;
}
.projects a {
    text-decoration: none;
    color: var(--red-light);
}
.projects p:hover{
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;
}
.skillsContainer{
    margin-top: 2rem;
}
.skillsContainer h1{
    position:relative ;
    color: var(--red-dark);
    text-align: center;
    font-size: 45px;
    font-weight: 900;
    text-transform: uppercase;
   
}

.skillsContainer h1::after{
    content: "";
    position: absolute;
    top: 1.75rem;
    left: 23rem;
    background-color: var(--gray);
    width: 40rem;
    height: 10px;
    z-index: -999;
}
section {
    color: var(--red-light);
    margin-top: 5rem;
    margin-left: -1rem;
    width: 15rem;
    height: 15rem;
    perspective: 1000px;
    cursor: pointer;
    font-weight: 900;

}

/* Container interno que será girado */
section .front,
section .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; /* Esconde o lado de trás ao virar */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 100%;
    background-color: var(--gray);
    padding: 1rem;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    transition: transform 0.6s ease-in-out;
}

section .front {
    gap: 1rem;
    transform: rotateY(0deg);
    font-size: 20px;
}

section .back {
    transform: rotateY(180deg);
    color: var(--red-light);
    font-size: 16px;
    font-weight: 700;
    text-align: center;
}

section:hover .front {
    transform: rotateY(-180deg);
}

section:hover .back {
    transform: rotateY(0deg);
}

.sections {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: 2rem; 
}

.more p{
    color: var(--red-dark);
    margin-top: 4rem;
    text-align: center;
    font-weight: 500;
}
.projectsContainer{
    margin-top: -3rem;
}
.projectsContainer h1{
    position: relative;
    text-align: center;
    text-transform: uppercase;
    color: var(--red-dark);
    font-size: 45px;
}

.projectsContainer h1::after{
    content: "MAIN";
    position: absolute;
    font-size: 100px;
    left: 35.5rem;
    top: -2.3rem;
    opacity: 0.25;
    letter-spacing: 10px;
}

.sec_projects {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 2rem; 
    margin-top: 5rem;
    margin-bottom: 10rem;
}

.sec_projects img {
    cursor: pointer;
    flex: 1 1 50%; 
    max-width: 40%; 
    min-width: 20rem;
    height: 10rem; 
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}
.sec_projects img:hover{
    transition: 0.4s all ease-in-out;
    transform: scale(1.1);
}
.half-footer{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-hf{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 6rem;
    position: absolute;
    background-color: #EDEDED;
    border-radius: 15px;
    height: 10rem;
    z-index: 9999;
    width: 80%;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}
.container-hf div:nth-of-type(1),.container-hf div:nth-of-type(2),.container-hf div:nth-of-type(3){
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-hf div:nth-of-type(1) p{
    font-size: 25px;
    font-weight: 800;
    color: var(--red-light);
}

.container-hf div:nth-of-type(2) p{
    font-size: 18px;
    text-align: center;
    width: 12rem;
    color: var(--red-light);
    font-weight: 800;
}
.container-hf div:nth-of-type(3) {
  
}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 2rem;
    background-color: #8E0000;
    width: 100%;
    height: 15rem;
}
.icons{
    margin-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 1rem;
}
footer p{
    margin-top: 1rem;
    display: flex;
    color: white;
    font-size: 22px;
}
